.opening-page{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 35%;
    padding-top: 15%;
    font-family: fantasy;
}
.btn{
    width: fit-content;
}
.questions {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 35%;
    padding-top: 15%;
    font-family: fantasy;
}